//För vanlig fadein
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}

//För lite fördröjd fadein som sker snabbare
@keyframes delayFadeIn {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
