/* Variabler */
// Darkmode
$dark-bg: #2c2424;
$dark-beige: #e1c58d;
//gemensamma färger
$turq: #638889;
$green: #758e71;
//Light mode
$light-bg: #f9efdb;
$light-beige: #ebd9b4;

//Typsnitt
$rubrik: 'Cormorant Unicase', Garamond, Georgia, 'Times New Roman', serif;
$bread: 'IBM Plex Serif', 'IBM Plex Sans', 'Times New Roman', Garamond, Georgia,
    serif;
$sans: 'IBM Plex Sans', Arial, Helvetica, sans-serif;

/* Mixins */
@mixin transition {
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
}
