@use 'animations';
@use 'base' as b;

//Allmän färg och font
body {
    background-color: b.$light-bg;
    font-family: b.$bread;
}

/* HEADER */
header {
    //Fadea in, sätt pos. relative så sidans namn kan få pos.abs
    animation: fadeIn 3s;
    position: relative;

    img {
        width: 100%;
        //Ta bort ev vit kant
        display: block;
    }

    //Bokhyllan
    #pagetitle {
        font-family: b.$rubrik;
        //Fadea in text snabbt efter headern har dykt upp
        animation: delayFadeIn 3.7s;
        font-size: 6em;
        //placera på bild
        position: absolute;
        bottom: 7%;
        right: 10%;
        color: white;
        //Skugga för läslighet
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    }
}

main {
    width: 80%;
    margin: auto;
    min-height: 50vh;
    /* Div med sökruta och knapp */
    .searchfield {
        position: relative;
        margin: 3em auto;
        max-width: 66%;
        animation: delayFadeIn 5.3s;

        input {
            width: 80%;
            font-size: 1em;
            font-family: b.$sans;
            /* Gör lite större */
            padding: 0.6em 1em;
            border-radius: 15px;
            border: none;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

            /* Ändra färg på placeholder */
            &::placeholder {
                color: lighten(b.$turq, 15%);
                font-style: italic;
            }
        }

        /* Sökknapp */
        button {
            border: none;
            border-radius: 10px;
            background-color: b.$turq;
            color: white;
            padding: 0.6em 1em;
            font-size: 0.9em;
            margin-left: 0.5em;
            cursor: pointer;
            font-family: b.$sans;
            text-transform: uppercase;
            /* Gör övergång */
            @include b.transition;

            /* Hover på knappen */
            &:hover {
                background-color: darken(b.$turq, 18%);
            }
        }
    }
    /* uppmaning att söka, dyker upp sist av allt */
    p.intro {
        animation: delayFadeIn 8s;
        text-align: center;
    }
}

/* Sökresultaten */
div.searchgrid {
    width: 70%;
    margin: auto;
    /* Gör till grid, 4 kolumner */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;

    /* Själva individuellt sökresultat */
    div.card {
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
        padding: 1em;
        border-radius: 25px;
        /* Gör till flex */
        display: flex;
        flex-direction: column;
        cursor: pointer;
        /* Övergång */
        @include b.transition;

        /* Hover på korten */
        &:hover {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            background-color: white;
        }
        /* Lilla thumbnailen man får från api */
        img {
            width: 80%;
            margin: auto;
        }
        /* Boktiteln */
        p.boktitel {
            margin-top: 1em;
            padding-left: 0.5em;
        }
        /* Författarens namn */
        p.author {
            font-style: italic;
            padding-left: 0.5em;
            margin-top: 0.5em;
        }
    }
}

/* Individuella boksidor */
div.titlegrid {
    /* Titelrutan med bild och bokinfo, blir grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: auto;

    /* Bild läggs i fleximg och sätts i center */
    div.fleximg {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-width: 170px;
        }
    }

    /* information om boken */
    div.bookinfo h1 {
        font-family: b.$rubrik;
        font-size: 2.5em;
        color: b.$turq;
        line-height: 1.3;
    }
    div.bookinfo p {
        font-size: 0.9em;
    }
}

/* Presentationstext */
div.presentation {
    background: white;
    width: 60%;
    margin: 3em auto 1em;
    border-radius: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 1em 1em 3em 1em;

    h2 {
        font-family: b.$rubrik;
        margin: 1.5em auto 0;
        font-size: 1.8em;
        color: b.$turq;
    }

    p.textsnippet {
        font-style: italic;
        margin: 3em auto;
        color: b.$turq;
        font-size: 1.1em;
    }
}

/* Footer */
footer {
    background-color: b.$turq;
    width: 100%;
    min-height: 150px;
    display: block;
    margin-top: 3em;
    position: relative;

    #credits {
        margin: auto;
        max-width: 35em;
        font-size: 0.7em;
        position: absolute;
        bottom: 2em;
        left: 50%;
        transform: translateX(-50%);
    }
}
