@use 'base' as b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se till overflow */
.wrapper {
    overflow-x: hidden;
    position: relative;
}

body {
    max-width: 2000px;
    margin: auto;
    width: 100%;
    margin: auto;
    @extend .wrapper;
    line-height: 1.8;
}

main div.text-content {
    max-width: 35em;
    margin: auto;
}

/* main p.no-top-margin {
    margin: auto;
}

main p:not(.no-top-margin) {
    @extend .no-top-margin;
    padding-top: 1em;
} */
