* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se till overflow */
.wrapper {
    overflow-x: hidden;
}

body {
    max-width: 2000px;
    margin: auto;
    width: 100%;
    margin: auto;
    @extend .wrapper;
    line-height: 1.8;
}
