@use 'base' as b;

/* Universalt tar bort allt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se till overflow */
.wrapper {
    overflow-x: hidden;
    position: relative;
}

/* Maxbredder och ta bort överflöd, andra tumregler */
body {
    max-width: 2000px;
    margin: auto;
    width: 100%;
    margin: auto;
    @extend .wrapper;
    line-height: 1.9;
}

/* Maxbredd på textinnehåll för läslighet */
main div.text-content {
    max-width: 35em;
    margin: auto;
}
